
# 1234555
<Files ~ "^\.(htaccess|htpasswd)$">
Deny from all
</Files>
AuthType Basic
AuthUserFile /home/xs835288/mhs-pgmash.com/public_html/php練習/view/admin/.htpasswd
AuthName "Please enter your ID and password"
Require valid-user
